{% extends 'base.html' %}

{% block styles %}
<style>
  h2 {
    margin: 5px 15px 15px 15px;
  }

  .tableRow {
    display: table-row;
  }

  .tableRow>img,
  .tableRow>div {
    display: table-cell;
    vertical-align: top;
    margin: 0px 15px 15px 15px;
    max-height: 216px;
  }

  .tableRow>div>div {
    margin: 0px 0px 15px 0px;
  }

  .tab-pane,
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: ivory;
    background-color: #333;
    border-color: #333;
  }

  .tab-pane {
    border-radius: 0.25em;
    border-top-left-radius: 0;
  }

  .tab-pane>ul {
    padding: 5px
  }

  .nav-tabs .nav-link {
    border: none;
    padding: 5px 8px;
    font-size: 20px;
  }

  .nav-tabs {
    border-bottom: 1px solid #222;
  }

  .nav-tabs>li>a {
    color: ivory;
  }

  .nav-tabs>li>a:hover {
    margin: 1;
    background-color: rgb(42, 42, 42);
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .announcement {
    margin: 5px 5px 8px 5px;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 0.25rem;
  }

  p {
    font-weight: lighter;
  }

  .normalWeight {
    font-weight: normal;
  }

  .marginAndWeight {
    margin-bottom: 10px;
    font-weight: normal;
  }

  .marginBottom {
    margin-bottom: 10px;
  }

  span {
    float: right;
  }

  .table {
    display: table;
    margin: 0 0 5px 50px;
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  .tableColumn {
    display: table-column;
    width: 20%
  }

  .studentsContainer {
    padding: 15px;
  }

  .students {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .students>div {
    height: 170px;
    width: 160px;
  }

  .students img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 120px;
    max-width: 120px;
  }

  .students p {
    margin-top: 5px;
    text-align: center;
  }
</style>
{% endblock styles %}

{% block content %}

{% if class %}
  <h1>{{class.name}}</h1>
{% else %}
  <h2>Class not Found</h2>
{% endif %}

<div class="tableRow">
  {% if class %}
  <img src="{{class.img}}" alt="{{class.alt}}"
  height="auto" />
  <div>
    <div>
      <h4>{{class.professor}}</h4>
      <a href="{{class.syllabus}}">Syllabus</a>
    </div>
    <div>
      <p>{{class.time}}</p>
      <p>{{class.semester}}</p>
      <p>{{class.credits}} Credit Hour(s)</p>
    </div>
    <div>
      <p>Current Grade: 46/100</p> <!-- Not sure about how to get the student grade for the specified class-->
      <p>Final Grade: -</p>
    </div>
  </div>

  {% else %}
  <img src="https://miro.medium.com/max/978/1*pUEZd8z__1p-7ICIO1NZFA.png" alt="No Img Found"
  height="auto" />
  <div>
    <div>

    </div>
    <div>
      
    </div>
    <div>

    </div>
  </div>
  {% endif %}

</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="Announcements-tab" data-toggle="tab" href="#Announcements" role="tab"
      aria-controls="Announcements" aria-selected="true">Announcements</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Assignments-tab" data-toggle="tab" href="#Assignments" role="tab"
      aria-controls="Assignments" aria-selected="false">Assignments</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Students-tab" data-toggle="tab" href="#Students" role="tab" aria-controls="Students"
      aria-selected="false">Students</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Announcements" role="tabpanel" aria-labelledby="Announcements-tab">
    <ul>
        {% for item in announcements %}
        <li>
          <div class="announcement">
            <p class="marginAndWeight">{{item.title}}<span>Posted on {{item.date}} at {{item.time}}</span></p>
            <p>{{item.text}}</p>
          </div>
        </li>
        {% empty %}
        <li>
          <div class="announcement">
            <p class="marginAndWeight">No announcements<span></span></p>
          </div>
        </li>
        {% endfor %}
    </ul>
  </div>
  <div class="tab-pane fade" id="Assignments" role="tabpanel" aria-labelledby="Assignments-tab">
    <ul>
      {% if class %}
        {% for item in assignments %}

      <li>
        <div class="announcement">
          <p class="normalWeight">{{item.title}}<span>DUE at {{item.time}} on {{item.date}}</span></p>
          <p class="marginAndWeight">Grade: {{item.grade}}

          {% if item.submitted.bool %}
            <span>SUBMITTED at {{item.submitted.time}} on {{item.submitted.date}}</span></p>
          {% endif %}

          <p class="marginBottom">{{item.description}}</p>
          <div class="table">
            <div class="tableColumn"></div>
            <div class="tableRow">
              <div>
                <p>Attachments:</p>
              </div>
              <div>
                {% for attachment in item.attachments %}
                  <a href="{{attachment.url}}">{{attachment.title}}</a><br>
                  {% empty %}
                {% endfor %}
              </div>
            </div>
            <div class="tableRow">
              <div>
                <p>File(s) Uploaded:</p>
              </div>
              {% for upload in item.uploads %}
                <a href="{{upload.url}}">{{upload.title}}</a>
                {% empty %}
              {% endfor %}
            </div>
          </div>
          <button>Upload File(s)</button>
          <span>
            <button>Submit</button>
          </span>
        </div>
      </li>
      {% endfor %}

      {% else %}
      <li>
        <div class="announcement">
          <p class="normalWeight">No Assignments<span></span></p>
        </div>
      </li>
      {% endif %}

  </div>
  <div class="tab-pane fade" id="Students" role="tabpanel" aria-labelledby="Students-tab">
    <div class="studentsContainer">
      <div class="students">
          {% for student in students %}
            <div>
              <img src="{{student.img}}">
              <p>{{student.name}}</p>
            </div>
            {% empty %}
            <div>
              <p>No Students</p>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}