{% extends 'base.html' %}

{% block styles %}
<style>
  h2 {
    margin: 5px 15px 15px 15px;
  }

  .tableRow {
    display: table-row;
  }

  .tableRow>img,
  .tableRow>div {
    display: table-cell;
    vertical-align: top;
    margin: 0px 15px 15px 15px;
    max-height: 216px;
  }

  .tableRow>div>div {
    margin: 0px 0px 15px 0px;
  }

  .tab-pane,
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: ivory;
    background-color: #333;
    border-color: #333;
  }

  .tab-pane>ul {
    padding: 5px
  }

  .nav-tabs .nav-link {
    border: none;
  }

  .nav-tabs {
    border-bottom: 1px solid #222;
  }

  .nav-tabs>li>a {
    color: ivory;
  }

  .nav-tabs>li>a:hover {
    margin: 1;
    background-color: rgb(42, 42, 42);
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .announcement {
    margin: 5px 5px 8px 5px;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 0.25rem;
  }

  p {
    font-weight: lighter;
  }

  .normalWeight {
    font-weight: normal;
  }

  .marginAndWeight {
    margin-bottom: 10px;
    font-weight: normal;
  }

  .marginBottom {
    margin-bottom: 10px;
  }

  span {
    float: right;
  }

  .table {
    display: table;
    margin: 0 0 5px 50px;
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  .tableColumn {
    display: table-column;
    width: 20%
  }

  .studentsContainer {
    padding: 15px;
  }

  .students {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .students>div {
    height: 170px;
    width: 160px;
  }

  .students img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 120px;
    max-width: 120px;
  }

  .students p {
    margin-top: 5px;
    text-align: center;
  }
</style>
{% endblock styles %}

{% block content %}

{% if class %}
  <h2>{{class.name}}</h2>
{% else %}
  <h2>WUM 101 - Intro to Wumbology</h2>
{% endif %}

<div class="tableRow">
  {% if class %}
  <img src="{{class.img}}" alt="{{class.alt}}"
  height="auto" />
  <div>
    <div>
      <h4>{{class.professor}}</h4>
      <a href="{{class.syllabus}}">Syllabus</a>
    </div>
    <div>
      <p>{{class.time}}</p>
      <p>{{class.semester}}</p>
      <p>{{class.credits}} Credit Hour(s)</p>
    </div>
    <div>
      <p>Current Grade: 46/100</p> <!-- Not sure about how to get the student grade for the specified class-->
      <p>Final Grade: -</p>
    </div>
  </div>

  {% else %}
  <img src="https://cdn.pixabay.com/photo/2016/11/22/23/53/animal-1851289_1280.jpg" alt="Dr. Patrick Star"
  height="auto" />
  <div>
    <div>
      <h4>Dr. Patrick Star</h4>
      <a href="">Syllabus</a>
    </div>
    <div>
      <p>MWF 8:00 AM</p>
      <p>2020 Summer Session 1</p>
      <p>3 Credit Hour(s)</p>
    </div>
    <div>
      <p>Current Grade: 46/100</p>
      <p>Final Grade: -</p>
    </div>
  </div>
  {% endif %}

</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="Announcements-tab" data-toggle="tab" href="#Announcements" role="tab"
      aria-controls="Announcements" aria-selected="true">Announcements</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Assignments-tab" data-toggle="tab" href="#Assignments" role="tab"
      aria-controls="Assignments" aria-selected="false">Assignments</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="Students-tab" data-toggle="tab" href="#Students" role="tab" aria-controls="Students"
      aria-selected="false">Students</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Announcements" role="tabpanel" aria-labelledby="Announcements-tab">
    <ul>
        {% for item in announcements %}
        <li>
          <div class="announcement">
            <p class="marginAndWeight">{{item.title}}<span>Posted on {{item.date}} at {{item.time}}</span></p>
            <p>{{item.text}}</p>
          </div>
        </li>
        {% empty %}
        <li>
          <div class="announcement">
            <p class="marginAndWeight">Title of Announcement<span>Posted on 07/08/2020 at 8:02 AM</span></p>
            <p>Content of announcement. This is where the professor adds more requirements to the assignment or
              something. Perhaps he's adding hundreds of new assignments. Maybe he wants everyone to write a
              100-page paper about squirrels. I Wumbo, you Wumbo, he/she/it Wumbo.</p>
          </div>
        </li>
        <li>
          <div class="announcement">
            <p class="marginAndWeight">Title of Announcement<span>Posted on 07/08/2020 at 8:02 AM</span></p>
            <p>Content of announcement. This is where the professor adds more requirements to the assignment or
              something. Perhaps he's adding hundreds of new assignments. Maybe he wants everyone to write a
              100-page paper about squirrels. I Wumbo, you Wumbo, he/she/it Wumbo.</p>
          </div>
        </li>
        <li>
          <div class="announcement">
            <p class="marginAndWeight">Title of Announcement<span>Posted on 07/08/2020 at 8:02 AM</span></p>
            <p>Content of announcement. This is where the professor adds more requirements to the assignment or
              something. Perhaps he's adding hundreds of new assignments. Maybe he wants everyone to write a
              100-page paper about squirrels. I Wumbo, you Wumbo, he/she/it Wumbo.</p>
          </div>
        </li>
        {% endfor %}
    </ul>
  </div>
  <div class="tab-pane fade" id="Assignments" role="tabpanel" aria-labelledby="Assignments-tab">
    <ul>
      {% if class %}
        {% for item in assignments %}

      <li>
        <div class="announcement">
          <p class="normalWeight">{{item.title}}<span>DUE at {{item.time}} on {{item.date}}</span></p>
          <p class="marginAndWeight">Grade: {{item.grade}}

          {% if item.submitted.bool %}
            <span>SUBMITTED at {{item.submitted.time}} on {{item.submitted.date}}</span></p>
          {% endif %}

          <p class="marginBottom">{{item.description}}</p>
          <div class="table">
            <div class="tableColumn"></div>
            <div class="tableRow">
              <div>
                <p>Attachments:</p>
              </div>
              <div>
                {% for attachment in item.attachments %}
                  <a href="{{attachment.url}}">{{attachment.title}}</a><br>
                  {% empty %}
                {% endfor %}
              </div>
            </div>
            <div class="tableRow">
              <div>
                <p>File(s) Uploaded:</p>
              </div>
              {% for upload in item.uploads %}
                <a href="{{upload.url}}">{{upload.title}}</a>
                {% empty %}
              {% endfor %}
            </div>
          </div>
          <button>Upload File(s)</button>
          <span>
            <button>Submit</button>
          </span>
        </div>
      </li>
      {% endfor %}

      {% else %}
      <li>
        <div class="announcement">
          <p class="normalWeight">Title of Assignment<span>DUE at 11:59 PM on 07/08/2020</span></p>
          <p class="marginAndWeight">Grade: ?/100<span>SUBMITTED at 11:58 PM on 07/08/2020</span></p>
          <p class="marginBottom">Description of Assignment. This is where the professor adds more requirements to the
            assignment or
            something. Perhaps he's adding hundreds of new assignments. Maybe he wants everyone to write a
            100-page paper about squirrels. I Wumbo, you Wumbo, he/she/it Wumbo.</p>
          <div class="table">
            <div class="tableColumn"></div>
            <div class="tableRow">
              <div>
                <p>Attachments:</p>
              </div>
              <div>
                <a href="">Wumbography Template.pdf</a><br>
                <a href="">Wumbography Example.pdf</a><br>
              </div>
            </div>
            <div class="tableRow">
              <div>
                <p>File(s) Uploaded:</p>
              </div>
              <a href="">Rock Bottom map final.png.pdf</a>
            </div>
          </div>
          <button>Upload File(s)</button>
          <span>
            <button>Submit</button>
          </span>
        </div>
      </li>
      {% endif %}

  </div>
  <div class="tab-pane fade" id="Students" role="tabpanel" aria-labelledby="Students-tab">
    <div class="studentsContainer">
      <div class="students">
          {% for student in students %}
            <div>
              <img src="{{student.img}}">
              <p>{{student.name}}</p>
            </div>
            {% empty %}
            <div>
              <img src="https://i.pinimg.com/originals/51/c2/54/51c25482d801d6ff7f80deee727e13c6.png">
              <p>Red</p>
            </div>
            <div>
              <img src="https://www.ssbwiki.com/images/thumb/0/03/Samus_SSBU.png/1200px-Samus_SSBU.png">
              <p>Samus Aran</p>
            </div>
            <div>
              <img
                src="https://vignette.wikia.nocookie.net/lotr/images/4/43/Aragorn3.jpg/revision/latest/scale-to-width-down/340?cb=20080318215744">
              <p>Aragorn Son of Arathorn</p>
            </div>
            <div>
              <img src="https://i.pinimg.com/originals/51/c2/54/51c25482d801d6ff7f80deee727e13c6.png">
              <p>Red</p>
            </div>
            <div>
              <img src="https://www.ssbwiki.com/images/thumb/0/03/Samus_SSBU.png/1200px-Samus_SSBU.png">
              <p>Samus Aran</p>
            </div>
            <div>
              <img
                src="https://vignette.wikia.nocookie.net/lotr/images/4/43/Aragorn3.jpg/revision/latest/scale-to-width-down/340?cb=20080318215744">
              <p>Aragorn Son of Arathorn</p>
            </div>
            <div>
              <img src="https://i.pinimg.com/originals/51/c2/54/51c25482d801d6ff7f80deee727e13c6.png">
              <p>Red</p>
            </div>
            <div>
              <img src="https://www.ssbwiki.com/images/thumb/0/03/Samus_SSBU.png/1200px-Samus_SSBU.png">
              <p>Samus Aran</p>
            </div>
            <div>
              <img
                src="https://vignette.wikia.nocookie.net/lotr/images/4/43/Aragorn3.jpg/revision/latest/scale-to-width-down/340?cb=20080318215744">
              <p>Aragorn Son of Arathorn</p>
            </div>
          {% endfor %}


      </div>
    </div>
  </div>
</div>
{% endblock %}