{% extends 'base.html' %}
{% block styles %}
<style>
    .grade-detail-row {
        display: inline-flex;
        flex-direction: row;
        padding: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    .grade-body-row {
        border: solid rgb(99, 96, 96);
    }

    .grade-col {
        text-align: right;
    }

    #grade-summary {
        background-color:rgb(250, 250, 250);
        margin-left: 10%;
        margin-right: 10%;
        margin-top:10px;
        margin-bottom: 10px;
        width: 80%;
        padding: 10px;
    }

    .grade-summary-row, .grade-summary-details {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    #grade-summary div {
        color: black;
    }

    .header {
        font-weight: bold;
        text-decoration: underline;
    }

    #grade-details {
        background-color:rgb(134, 118, 118);
        margin-left: 10%;
        margin-right: 10%;
        margin-top:10px;
        margin-bottom: 10px;
        width: 80%;
    }

    .col>img {
        height: 30px;
        width: 30px;
    }

</style>

{% endblock styles %}
{% block content %}
    <div id="grades-container">
        <div id="grade-summary">
            <div class="grade-summary-row">
                <div class="header">Courses</div>
                <div class="grade-summary-details">
                    <div>Grade Total</div>
                    <div>Percentage</div>
                    <div>Letter</div>
                </div>
            </div>
            {% for course in grades %}
                <div class="grade-summary-row">
                    <div>{{course.name}}</div>
                    <div class="grade-summary-details">
                        <div>{{course.grade}}</div>
                        <div>{{course.percentage}}</div>
                        <div>{{course.letter}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="grade-details">
            <div class="grade-detail-row">
                <div class="grade-col header">Assignments</div>
            </div>
            {% for course in grades %}
                {% for assignment in course.assignments %}
                    <div class="grade-detail-row grade-body-row">
                        <div class="col">
                            <img src="https://i.pinimg.com/originals/51/c2/54/51c25482d801d6ff7f80deee727e13c6.png">
                            {{course.name}} - {{assignment.name}}
                        </div>
                        <div class="grade-col">{{assignment.grade}}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
